Downloads/SIAPET_SPRINT1/n8n/workflows/send-invitations.json
{
  "name": "Envoi d'invitations SIAPET",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-invitations",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "send-invitations"
    },
    {
      "parameters": {
        "functionCode": "// Récupérer les utilisateurs depuis le webhook\nconst users = $input.item.json.users || [];\nconst triggeredBy = $input.item.json.triggered_by;\nconst triggeredAt = $input.item.json.triggered_at;\n\n// Préparer les données pour chaque utilisateur\nconst items = users.map(user => ({\n  json: {\n    ...user,\n    triggered_by: triggeredBy,\n    triggered_at: triggeredAt,\n    demande_url: `${process.env.FRONTEND_URL || 'http://localhost:3000'}/demande-acces`\n  }\n}));\n\nreturn items;"
      },
      "id": "prepare-data",
      "name": "Préparer les données",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Récupérer les données de l'utilisateur\nconst user = $input.item.json;\nconst role = user.role.toLowerCase();\n\n// Contenu personnalisé selon le rôle\nconst roleContent = {\n  etudiant: {\n    title: '🎓 Étudiants',\n    benefits: [\n      '📚 Accédez à vos notes et résultats en temps réel',\n      '📅 Consultez votre emploi du temps personnalisé',\n      '📝 Inscrivez-vous aux examens en ligne',\n      '🎯 Suivez votre progression académique',\n      '💬 Communiquez avec vos enseignants'\n    ],\n    color: '#43e97b'\n  },\n  enseignant: {\n    title: '👨‍🏫 Enseignants',\n    benefits: [\n      '📊 Gérez vos classes et étudiants efficacement',\n      '✍️ Saisissez les notes et évaluations en ligne',\n      '📋 Consultez les listes de présence',\n      '📈 Analysez les performances de vos étudiants',\n      '🗓️ Planifiez vos cours et examens'\n    ],\n    color: '#4facfe'\n  },\n  directeur: {\n    title: '👔 Directeurs',\n    benefits: [\n      '📊 Tableau de bord complet de votre établissement',\n      '👥 Gestion des enseignants et du personnel',\n      '📈 Statistiques et rapports détaillés',\n      '🎯 Suivi des performances académiques',\n      '📋 Validation des décisions administratives'\n    ],\n    color: '#f093fb'\n  },\n  recteur: {\n    title: '🎩 Recteurs',\n    benefits: [\n      '🏛️ Vue d\\'ensemble de toute l\\'université',\n      '📊 Analyses stratégiques et KPIs',\n      '👥 Gestion globale des établissements',\n      '📈 Rapports consolidés et tendances',\n      '🎯 Pilotage de la stratégie universitaire'\n    ],\n    color: '#667eea'\n  }\n};\n\nconst content = roleContent[role] || roleContent.etudiant;\n\nreturn {\n  json: {\n    ...user,\n    roleTitle: content.title,\n    benefits: content.benefits,\n    color: content.color\n  }\n};"
      },
      "id": "personalize-content",
      "name": "Personnaliser le contenu",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_USER}}",
        "toEmail": "={{$json.email}}",
        "subject": "🎓 Rejoignez SIAPET - Plateforme Universitaire Tunisienne",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');\n    \n    body { \n      font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, sans-serif; \n      line-height: 1.6; \n      color: #2D2926;\n      margin: 0;\n      padding: 0;\n      background: #FFF4E6;\n    }\n    .container { \n      max-width: 600px; \n      margin: 40px auto; \n      background: white;\n      border-radius: 18px;\n      overflow: hidden;\n      box-shadow: 0 8px 32px rgba(78,205,196,0.25);\n    }\n    .header { \n      background: linear-gradient(135deg, {{$json.color}} 0%, {{$json.color}}dd 100%); \n      color: white; \n      padding: 40px 30px; \n      text-align: center;\n    }\n    .header h1 {\n      font-family: 'Playfair Display', serif;\n      font-size: 32px;\n      margin: 0 0 10px 0;\n      letter-spacing: -0.02em;\n    }\n    .content { \n      padding: 40px 30px;\n      background: white;\n    }\n    .platform-intro {\n      background: linear-gradient(145deg, rgba(78,205,196,0.06), rgba(68,160,141,0.06));\n      padding: 25px;\n      margin: 25px 0;\n      border-radius: 14px;\n      border: 2px solid rgba(78,205,196,0.15);\n    }\n    .benefits {\n      margin: 25px 0;\n    }\n    .benefit-item {\n      padding: 12px 0;\n      border-bottom: 1px solid #F0F0F0;\n      font-size: 15px;\n    }\n    .benefit-item:last-child {\n      border-bottom: none;\n    }\n    .btn-container {\n      text-align: center;\n      margin: 35px 0;\n    }\n    .btn { \n      display: inline-block;\n      background: linear-gradient(135deg, {{$json.color}} 0%, {{$json.color}}dd 100%); \n      color: white; \n      padding: 16px 40px; \n      text-decoration: none; \n      border-radius: 12px;\n      font-weight: 700;\n      font-size: 15px;\n      box-shadow: 0 4px 16px {{$json.color}}50;\n    }\n    .footer { \n      text-align: center; \n      padding: 30px;\n      background: #FFF4E6;\n      color: #A89F96; \n      font-size: 12px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🎓 Bienvenue sur SIAPET</h1>\n      <p>Système d'Information et d'Aide à la Planification de l'Enseignement en Tunisie</p>\n    </div>\n    \n    <div class=\"content\">\n      <h2>Bonjour {{$json.prenom}} {{$json.nom}},</h2>\n      \n      <div class=\"platform-intro\">\n        <h3>📱 Qu'est-ce que SIAPET ?</h3>\n        <p>SIAPET est la plateforme numérique officielle du Ministère de l'Enseignement Supérieur et de la Recherche Scientifique de Tunisie. Elle centralise et simplifie la gestion de l'enseignement supérieur pour tous les acteurs universitaires.</p>\n      </div>\n\n      <h3>{{$json.roleTitle}} - Vos avantages</h3>\n      <div class=\"benefits\">\n        {{#each $json.benefits}}\n        <div class=\"benefit-item\">{{this}}</div>\n        {{/each}}\n      </div>\n\n      <div style=\"background: rgba(255,176,136,0.08); padding: 20px; border-radius: 12px; border-left: 4px solid #FFB088; margin: 25px 0;\">\n        <strong style=\"color: #9a5a20; display: block; margin-bottom: 8px;\">📝 Comment rejoindre SIAPET ?</strong>\n        <p style=\"margin: 0; color: #9a5a20; font-size: 14px;\">Cliquez sur le bouton ci-dessous pour soumettre votre demande d'accès. Vous devrez fournir votre rôle, CIN et email. Votre demande sera examinée par l'administration.</p>\n      </div>\n\n      <div class=\"btn-container\">\n        <a href=\"{{$json.demande_url}}\" class=\"btn\">\n          Demander mon accès →\n        </a>\n      </div>\n\n      <p style=\"color: #A89F96; font-size: 13px; text-align: center; margin-top: 30px;\">\n        Une fois votre demande acceptée, vous recevrez vos identifiants de connexion par email.\n      </p>\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>© 2026 SIAPET</strong></p>\n      <p>Ministère de l'Enseignement Supérieur et de la Recherche Scientifique</p>\n      <p style=\"margin-top: 15px;\">Cet email a été envoyé automatiquement, merci de ne pas y répondre.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "send-email",
      "name": "Envoyer l'email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Invitations envoyées avec succès\", \"count\": $items().length } }}"
      },
      "id": "response",
      "name": "Réponse",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Préparer les données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer les données": {
      "main": [
        [
          {
            "node": "Personnaliser le contenu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personnaliser le contenu": {
      "main": [
        [
          {
            "node": "Envoyer l'email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer l'email": {
      "main": [
        [
          {
            "node": "Réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "send-invitations-workflow",
  "meta": {
    "instanceId": "siapet-n8n"
  },
  "tags": []
}
