Downloads/SIAPET_SPRINT1/n8n/workflows/send-invitations-postgres.json
{
  "name": "Envoi d'invitations SIAPET - PostgreSQL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-invitations",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "send-invitations"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  numero_utilisateur,\n  nom,\n  prenom,\n  email,\n  LOWER(type_utilisateur) as role\nFROM utilisateur \nWHERE type_utilisateur IN ({{ $json.roles.map(role => {\n  const roleMapping = {\n    'etudiant': 'ETUDIANT',\n    'enseignant': 'ENSEIGNANT', \n    'directeur': 'DIRECTEUR',\n    'recteur': 'RECTEUR'\n  };\n  return `'${roleMapping[role] || role.toUpperCase()}'`;\n}).join(', ') }})\nAND statut = 'ACTIF'\nORDER BY type_utilisateur, nom, prenom",
        "additionalFields": {}
      },
      "id": "postgres-query",
      "name": "Récupérer utilisateurs PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "SIAPET PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Récupérer les données du webhook et de PostgreSQL\nconst webhookData = $input.first().json;\nconst users = $input.all().map(item => item.json).slice(1); // Exclure le premier item (webhook)\n\nif (!users || users.length === 0) {\n  throw new Error('Aucun utilisateur trouvé pour les rôles sélectionnés');\n}\n\n// Préparer les données pour chaque utilisateur\nconst items = users.map(user => ({\n  json: {\n    ...user,\n    triggered_by: webhookData.triggered_by,\n    triggered_at: webhookData.triggered_at,\n    demande_url: `${process.env.FRONTEND_URL || 'http://localhost:3000'}/demande-acces`\n  }\n}));\n\nreturn items;"
      },
      "id": "prepare-data",
      "name": "Préparer les données",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Récupérer les données de l'utilisateur\nconst user = $input.item.json;\nconst role = user.role.toLowerCase();\n\n// Contenu personnalisé selon le rôle\nconst roleContent = {\n  etudiant: {\n    title: '🎓 Étudiants',\n    benefits: [\n      '📚 Suivi de votre parcours académique en temps réel',\n      '📊 Consultation de vos notes et résultats',\n      '📅 Gestion de vos inscriptions',\n      '📄 Accès à vos documents administratifs',\n      '💬 Communication directe avec votre établissement'\n    ],\n    color: '#43e97b'\n  },\n  enseignant: {\n    title: '👨‍🏫 Enseignants',\n    benefits: [\n      '📊 Gérez vos classes et étudiants efficacement',\n      '✍️ Saisissez les notes et évaluations en ligne',\n      '📋 Consultez les listes de présence',\n      '📈 Analysez les performances de vos étudiants',\n      '🗓️ Planifiez vos cours et examens'\n    ],\n    color: '#4facfe'\n  },\n  directeur: {\n    title: '👔 Directeurs',\n    benefits: [\n      '📊 Tableau de bord complet de votre établissement',\n      '👥 Gestion des enseignants et du personnel',\n      '📈 Statistiques et rapports détaillés',\n      '🎯 Suivi des performances académiques',\n      '📋 Validation des décisions administratives'\n    ],\n    color: '#f093fb'\n  },\n  recteur: {\n    title: '🎩 Recteurs',\n    benefits: [\n      '🏛️ Vue d\\'ensemble de toute l\\'université',\n      '📊 Analyses stratégiques et KPIs',\n      '👥 Gestion globale des établissements',\n      '📈 Rapports consolidés et tendances',\n      '🎯 Pilotage de la stratégie universitaire'\n    ],\n    color: '#667eea'\n  }\n};\n\nconst content = roleContent[role] || roleContent.etudiant;\n\nreturn {\n  json: {\n    ...user,\n    roleTitle: content.title,\n    benefits: content.benefits,\n    color: content.color\n  }\n};"
      },
      "id": "personalize-content",
      "name": "Personnaliser le contenu",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_USER}}",
        "toEmail": "={{$json.email}}",
        "subject": "🎓 Invitation SIAPET - Demandez votre accès {{$json.roleTitle.split(' ')[1].toLowerCase()}}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');\n    \n    body { \n      font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, sans-serif; \n      line-height: 1.6; \n      color: #2D2926;\n      margin: 0;\n      padding: 0;\n      background: #FFF4E6;\n    }\n    .container { \n      max-width: 600px; \n      margin: 40px auto; \n      background: white;\n      border-radius: 18px;\n      overflow: hidden;\n      box-shadow: 0 8px 32px rgba(0,0,0,0.1);\n    }\n    .header { \n      background: linear-gradient(135deg, {{$json.color}} 0%, {{$json.color}}dd 100%); \n      color: white; \n      padding: 40px 30px; \n      text-align: center;\n    }\n    .header h1 {\n      font-family: 'Playfair Display', serif;\n      font-size: 32px;\n      margin: 0 0 10px 0;\n      letter-spacing: -0.02em;\n    }\n    .header p {\n      margin: 0;\n      opacity: 0.95;\n      font-size: 14px;\n    }\n    .content { \n      padding: 40px 30px;\n      background: white;\n    }\n    .greeting {\n      font-size: 20px;\n      font-weight: 600;\n      color: #2D3436;\n      margin-bottom: 20px;\n    }\n    .intro-text {\n      font-size: 16px;\n      color: #636E72;\n      margin-bottom: 30px;\n      line-height: 1.7;\n    }\n    .platform-intro {\n      background: linear-gradient(145deg, {{$json.color}}10, {{$json.color}}05);\n      padding: 25px;\n      margin: 25px 0;\n      border-radius: 14px;\n      border: 2px solid {{$json.color}}30;\n    }\n    .platform-intro h3 {\n      margin: 0 0 15px 0;\n      color: #2D3436;\n      font-size: 18px;\n      display: flex;\n      align-items: center;\n      gap: 10px;\n    }\n    .platform-intro p {\n      margin: 0;\n      color: #636E72;\n      font-size: 15px;\n    }\n    .benefits-section {\n      margin: 30px 0;\n    }\n    .benefits-title {\n      font-size: 18px;\n      font-weight: 700;\n      color: #2D3436;\n      margin-bottom: 20px;\n      display: flex;\n      align-items: center;\n      gap: 10px;\n    }\n    .benefits-grid {\n      display: grid;\n      gap: 15px;\n    }\n    .benefit-item {\n      background: {{$json.color}}08;\n      padding: 18px;\n      border-radius: 12px;\n      border-left: 4px solid {{$json.color}};\n      font-size: 15px;\n      color: #2D3436;\n      display: flex;\n      align-items: flex-start;\n      gap: 12px;\n    }\n    .benefit-icon {\n      font-size: 20px;\n      margin-top: 2px;\n    }\n    .cta-section {\n      background: linear-gradient(145deg, #FFB08808, #FF6B6B08);\n      padding: 25px;\n      border-radius: 14px;\n      border: 2px solid #FFB08830;\n      margin: 30px 0;\n      text-align: center;\n    }\n    .cta-title {\n      font-size: 18px;\n      font-weight: 700;\n      color: #D63031;\n      margin-bottom: 15px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      gap: 10px;\n    }\n    .cta-text {\n      color: #636E72;\n      font-size: 15px;\n      margin-bottom: 25px;\n      line-height: 1.6;\n    }\n    .btn-container {\n      text-align: center;\n      margin: 35px 0;\n    }\n    .btn { \n      display: inline-block;\n      background: linear-gradient(135deg, {{$json.color}} 0%, {{$json.color}}dd 100%); \n      color: white; \n      padding: 18px 45px; \n      text-decoration: none; \n      border-radius: 12px;\n      font-weight: 700;\n      font-size: 16px;\n      box-shadow: 0 6px 20px {{$json.color}}40;\n      transition: all 0.3s ease;\n    }\n    .btn:hover {\n      transform: translateY(-2px);\n      box-shadow: 0 8px 25px {{$json.color}}50;\n    }\n    .important-note {\n      background: #FFF3CD;\n      border: 2px solid #FFE69C;\n      border-radius: 12px;\n      padding: 20px;\n      margin: 25px 0;\n    }\n    .important-note strong {\n      color: #856404;\n      display: flex;\n      align-items: center;\n      gap: 8px;\n      margin-bottom: 10px;\n      font-size: 16px;\n    }\n    .important-note p {\n      margin: 0;\n      color: #856404;\n      font-size: 14px;\n    }\n    .email-highlight {\n      background: {{$json.color}}15;\n      color: {{$json.color}};\n      padding: 4px 8px;\n      border-radius: 6px;\n      font-weight: 600;\n      font-family: 'Courier New', monospace;\n    }\n    .footer { \n      text-align: center; \n      padding: 30px;\n      background: #F8F9FA;\n      color: #6C757D; \n      font-size: 12px;\n      border-top: 1px solid #E9ECEF;\n    }\n    .footer p {\n      margin: 5px 0;\n    }\n    .footer strong {\n      color: #495057;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🎓 Bienvenue sur SIAPET</h1>\n      <p>Système d'Information et d'Aide à la Planification de l'Enseignement en Tunisie</p>\n    </div>\n    \n    <div class=\"content\">\n      <div class=\"greeting\">Bonjour {{$json.prenom}} {{$json.nom}},</div>\n      \n      <div class=\"intro-text\">\n        Nous sommes ravis de vous inviter à rejoindre SIAPET, la nouvelle plateforme digitale du Ministère de l'Enseignement Supérieur.\n      </div>\n      \n      <div class=\"platform-intro\">\n        <h3><span>🎯</span> Ce que SIAPET vous offre</h3>\n        <p>SIAPET centralise tous vos services universitaires en une seule plateforme moderne et intuitive, conçue spécialement pour faciliter votre parcours académique.</p>\n      </div>\n\n      <div class=\"benefits-section\">\n        <div class=\"benefits-title\">\n          <span>{{$json.roleTitle.split(' ')[0]}}</span>\n          <span>Vos avantages exclusifs</span>\n        </div>\n        <div class=\"benefits-grid\">\n          {{#each $json.benefits}}\n          <div class=\"benefit-item\">\n            <div class=\"benefit-icon\">{{substring this 0 2}}</div>\n            <div>{{substring this 3}}</div>\n          </div>\n          {{/each}}\n        </div>\n      </div>\n\n      <div class=\"cta-section\">\n        <div class=\"cta-title\">\n          <span>🚀</span>\n          <span>Comment obtenir votre accès ?</span>\n        </div>\n        <div class=\"cta-text\">\n          <strong>Étapes simples :</strong><br>\n          1. Cliquez sur le bouton ci-dessous<br>\n          2. Remplissez le formulaire avec votre CIN et email<br>\n          3. Attendez la validation de l'administration<br>\n          4. Recevez vos identifiants de connexion par email\n        </div>\n      </div>\n\n      <div class=\"btn-container\">\n        <a href=\"{{$json.demande_url}}\" class=\"btn\">\n          Demander l'accès maintenant →\n        </a>\n      </div>\n\n      <div class=\"important-note\">\n        <strong>\n          <span>⚠️</span>\n          <span>Important</span>\n        </strong>\n        <p>\n          Vous devez utiliser le même email (<span class=\"email-highlight\">{{$json.email}}</span>) lors de votre demande d'accès.\n        </p>\n      </div>\n\n      <p style=\"color: #6C757D; font-size: 13px; text-align: center; margin-top: 30px;\">\n        Si vous avez des questions, contactez l'administrateur système.\n      </p>\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>© 2026 SIAPET</strong></p>\n      <p>Ministère de l'Enseignement Supérieur et de la Recherche Scientifique</p>\n      <p style=\"margin-top: 15px;\">Cordialement, L'équipe MESRS</p>\n      <p style=\"margin-top: 10px;\">Cet email a été envoyé automatiquement, merci de ne pas y répondre.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "send-email",
      "name": "Envoyer l'email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Invitations envoyées avec succès\", \"count\": $items().length } }}"
      },
      "id": "response",
      "name": "Réponse",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Récupérer utilisateurs PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer utilisateurs PostgreSQL": {
      "main": [
        [
          {
            "node": "Préparer les données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer les données": {
      "main": [
        [
          {
            "node": "Personnaliser le contenu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personnaliser le contenu": {
      "main": [
        [
          {
            "node": "Envoyer l'email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer l'email": {
      "main": [
        [
          {
            "node": "Réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "send-invitations-postgres-workflow",
  "meta": {
    "instanceId": "siapet-n8n"
  },
  "tags": []
}